@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Neonderthaw&family=Quicksand:wght@700&family=The+Nautigal&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

/* @font-face {
  font-family: "futur";
  src: local("futur"),
    url("./fonts/futur.ttf") format("ttf");
  font-weight: normal;
} */