.home-container{
    float: right;
    flex: auto;
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../../images/melb_home.jpeg");
    background-position: center;
    /* background-color: aqua; */
}

.home-title{
    position:relative;
    text-align: center;
    justify-content: center; 
    display: grid;
    grid-template-columns: auto auto auto auto;
    top: 500px;
    align-items: center;
    color: white;
}

.title1{
    font-family: Quicksand;
    grid-column: 1 / span 4;
}

.title2{
    font-family: Quicksand;
    grid-column: 1 /span 4;
}

.title3{
    font-family: Quicksand;
    grid-column: 4;
}

h1{
    font-size: 180px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 30px;
}